/*Universal Styles*/

/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzGBC5xLhLE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v2/i7dPIFZifjKcF5UAWdDRYEF8RXi4EwQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Space Mono', Tajawal, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: 'Space Mono', Helvetica, sans-serif;
}

p, span, a, li {
  font-family: Tajawal, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container,
.container-gray {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
}

.container-gray {
  background-color: rgb(170, 131, 57);
}

.citation {
  font-style: italic;
  opacity: 0.7;
  padding-bottom: 2rem;
}

/* Navigation*/

nav {
  height: 4rem;
  background-color: white;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 2.5rem;
}

nav .logo span {
  text-transform: uppercase;
  font-size: 2rem;
}

span.title {
  margin-bottom: -5px;
}

.container .menu li {
  display: inline-block;
  align-items: space-around;
  padding-left: 1rem;
}

.container .menu li a {
  color: rgb(45, 68, 113);
}

@media only screen and (min-width: 700px) {
  .menu a:hover {
    font-weight: 700;
    transition: font-weight 200ms ease-in-out 200ms;
  }
}

.menu-mobile {
  display: none;
}

/*Mobile Navigation*/
@media only screen and (max-width: 699px) {
  .menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-mobile {
    display: flex;
    width: 100%;
    height: 4rem;
  }

  .menu-mobile ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .menu-mobile li {
    display: inline-block;
  }
}

/* Banner*/

.banner {
  padding: 2rem 1.5rem;
  display: flex;
  width: 100%;
}

.banner .image {
  width: 60%;
  overflow: hidden;
}

.banner .image img {
  width: 100%;
}

.textbanner {
  width: 40%;
  padding-left: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.banner .textbanner h1,
.banner .textbanner p {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.4;
  font-weight: bold;
}

.main-info .main-text h1,
.main-video .main-text h1
.banner .textbanner h1 {
  color: rgb(78, 99, 141);
}

.banner .textbanner h1 {
  padding: 1rem 3rem 1.5rem 3rem;
  font-size: 2rem;
}

.banner .textbanner p {
  color: rgb(78, 99, 141);
  padding: 0 3rem 1.5rem 3rem;
  font-size: 1rem;
}

@media only screen and (min-width: 700px) {
  .banner .textbanner p:hover {
    text-decoration: underline;
    transition: text-decoration 0 linear 200ms;
  }

  .banner .textbanner p:active {
    color: rgb(85, 56, 0);
  }
}

.banner button {
  background-color: rgb(63, 49, 117);
  padding: 0.5rem 7rem;
  border: 1px hsl(0, 0%, 40%) solid;
}

.banner button a {
  color: rgb(135, 124, 176);
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (min-width: 700px) {
  .banner button:hover {
    border: 3px rgb(135, 124, 176) solid;
    background-color: hsl(0, 0%, 50%);
    transition: all 300ms ease-in 200ms;
  }

  .banner button a:hover {
    color: rgb(63, 49, 117);
    transition: all 300ms ease-in 200ms;
  }

  .banner button:active {
    background-color: rgb(63, 49, 117);
  }
}

/*Mobile-Banner*/
@media only screen and (max-width: 699px) {
  .banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0;
  }

  .banner .image {
    width: 100%;
    overflow: hidden;
  }

  .banner .textbanner {
    width: 100%;
    padding: 0 0 2rem 0;
  }

  .banner .textbanner a {
    display: block;
    justify-content: center;
  }

  .banner .textbanner h1 {
    color: rgb(78, 99, 141);
    padding: 2rem 1rem;
    font-size: 1.5rem;
    justify-content: center;
  }

  .banner .textbanner p {
    font-size: 0.9rem;
  }
}

/*Information*/
.main-info {
  width: 60%;
  height: auto;
  display: block;
  justify-content: space-between;
}

@media only screen and (min-width: 700px) {
  .banner .main-info:hover, .banner .image:hover, .banner .main-video:hover {
    border: 4px rgb(119, 136, 170) solid;
    transition: all 200ms ease-in 200ms;
  }
}

.main-text, .main-info .image img {
  width: 100%;
  height: auto;
  line-height: 1.2;
}

.main-text span {
  color: rgb(22, 43, 85);
}

.main-info .info-image, .main-info video {
  width: 100%;
  overflow: hidden;
}

.main-info .main-text h1,
.main-info .main-text p
.main-info .main-video h1,
.main-info .main-video p {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.4;
  font-weight: bold;
}

.main-info .main-text h1,
.main-video .main-text h1 {
  padding: 2rem 0 1.5rem 0;
  font-size: 2rem;
}

.main-info .main-text p, .info-teaser p, .teaser-text p,
.main-video .main-text p {
  color: rgb(6, 23, 57);
  font-size: 1rem;
}

.more-info {
  width: 40%;
  height: auto;
  padding-left: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.info {
  display: inline-flex;
  height: auto;
}

.info-image {
  width: 35%;
}
.info-image img {
  width: 100%;
}

.info-text, .info-title, .info-teaser {
  width: 100%;
  padding: 1.5rem 1.5rem;
}

.info-text {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (min-width: 700px) {
  .info:hover, .teaser:hover {
    border-bottom: 4px rgb(119, 136, 170) solid;
    border-right: 4px rgb(119, 136, 170) solid;
    transition: 100ms step-start 200ms;
  }
}

.info-title {
  border-bottom: 2px rgb(212, 193, 106) solid;
}

.info-title h2, .teaser-title h2 {
  color: rgb(128, 109, 22);
  font-size: 1.5rem;
  line-height: 1;
}
/*Information-Mobile*/
@media only screen and (max-width: 699px) {
  .main-info {
    display: none;
  }

  .more-info, .info, .info-image, .info-text {
    width: 100%;
  }

  .more-info {
    padding: 1rem 1rem 0 1rem;
  }

  .info {
    display: block;
  }

  .info-text {
    padding: 0.25rem 0 4rem 0;
  }

  .info-title {
    padding: 1rem 0 0.5rem 0;
  }

  .info-teaser {
    border-bottom: 2px rgb(212, 193, 106) solid;
    padding: 0.5rem 0 1rem 0;
  }

  .info-image img {
    background: url("resources/images/information-orientation.jpg") center no-repeat cover;
    height: 17rem;
  }
}

/*Learn Teaser*/

.learn-title {
  width: 100%;
}

.learn-title h1 {
  line-height: 1.4;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  padding: 2rem 0 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.learn {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 4.5rem 2rem 4.5rem;
}

.teaser {
  bottom: 0px;
  box-sizing: border-box;
  float: left;
  left: 0px;
  line-height: 1.3;
  position: relative;
  top: 0px;
  width: 304.484px;
  background: rgb(255, 255, 255);
  padding-left: 1.5 rem;
  margin: 0px 0px 1rem 1.5rem;
}

.teaser-image img {
  height: auto;
  width: 100%;
}

.teaser-textbox {
  padding: 1rem 0 1.5rem 1rem;
}

.teaser-subtitle {
  text-transform: capitalize;
  color: rgb(37, 24, 88);
  font-size: 1rem;
  line-height: 0.75;
  padding: 1.5rem 0 1rem 0;
}

.video-section {
  width: 40%;
  height: auto;
  padding-left: 1.5rem;
  display: flex;
  flex-flow: column;
}

/*Learn Teaser Mobile*/
@media only screen and (max-width: 699px) {
  section.container-gray {
    background-color: rgb(119, 136, 170);
    border-top: 1px rgb(18, 7, 59) solid;
    border-bottom: 1px rgb(18, 7, 59) solid;
  }

  .learn-title h1 {
    padding: 2rem 0 1rem 0;
  }

  ul li a figure {
    display: none;
  }

  ul.learn {
    padding: 0 1rem 2rem 1rem;
  }

  .learn li:nth-child(2n+0) {
    width: 100%;
    background-color: rgb(135, 124, 176);
    border-radius: 0.25rem;
    margin-left: 0;
  }

  .learn li:nth-child(2n+1) {
    width: 100%;
    background-color: rgb(255, 239, 170);
    border-radius: 0.25rem;
    margin-left: 0;
  }

  .teaser-textbox .teaser-title h2 {
    color: rgb(22, 43, 85);
  }

  .teaser-textbox .teaser-subtitle h3 {
    color: rgb(85, 56, 0);
  }

  .teaser-textbox .teaser-subtitle p {
    color: rgb(96, 82, 146);
  }
}

/*Video Section*/
.main-video {
  width: 60%;
  display: block;
  justify-content: space-between;
  height: auto;
}

.main-video video {
  width: 100%;
}

/*Video Section Mobile*/
@media only screen and (max-width: 699px) {
  .video-section {
    display: none;
  }

  .main-video {
    width: 100%;
  }

  .main-video .main-text {
    display: none;
  }
}

/*Footer*/
footer {
  padding: 1rem 1.5rem 3rem 1.5rem;
  border-top: 1px rgb(96, 82, 146) solid;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 700px) {
  span.logo-mobile {
    display: none;
  }
}

/*Footer Mobile*/
@media only screen and (max-width: 699px) {
  footer .menu, footer .logo {
    display: none;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer .logo-mobile {
    width: 100%;
    text-align: center;
    padding-top: 3rem
  }
}
