/*Universal Styles*/
html {
  font-size: 16px;
  line-height: 1.2;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container,
.container-gray {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
}

.container-gray {
  background-color: hsl(0, 0%, 66.7%);
}

.citation {
  font-style: italic;
  opacity: 0.7;
  padding-bottom: 2rem;
}

/* Navigation*/

nav {
  height: 4rem;
  background-color: white;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 2.5rem;
}

nav .logo span {
  text-transform: uppercase;
  font-size: 2rem;
}

.container .menu li {
  display: inline-block;
  align-items: space-around;
  padding-left: 1rem;
}

.menu a:hover {
  font-weight: 700;
  transition: font-weight 200ms ease-in 700ms;
}

.menu-mobile {
  display: none;
}

/*Mobile Navigation*/
@media only screen and (max-width: 641px) {
  .menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-mobile {
    display: flex;
    width: 100%;
    height: 4rem;
  }

  .menu-mobile ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .menu-mobile li {
    display: inline-block;
  }
}

/* Banner*/

.banner {
  padding: 2rem 1.5rem;
  display: flex;
  width: 100%;
}

.banner .image {
  width: 60%;
  overflow: hidden;
}

.banner .image img {
  width: 100%;
}

.textbanner {
  width: 40%;
  padding-left: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.banner .textbanner h1,
.banner .textbanner p {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.4;
  font-weight: bold;
}

.banner .textbanner h1 {
  color: hsl(0, 0%, 30%);
  padding: 1rem 3rem 1.5rem 3rem;
  font-size: 2rem;
}

.banner .textbanner p {
  color: hsl(0, 0%, 25%);
  padding: 0 3rem 1.5rem 3rem;
  font-size: 1rem;
}

.banner .textbanner p:hover {
  font-size: 110%;
  transition: font-size 0 linear 200ms;
}


.banner button {
  background-color: hsl(0, 0%, 30%);
  padding: 0.5rem 7rem;
  border: 1px hsl(0, 0%, 40%) solid;
}

.banner button a {
  color: hsla(360, 100%, 100%, 1);
  font-weight: bold;
  font-size: 1rem;
}

.banner button:hover {
  border: 3px hsl(0, 0%, 50%) solid;
  background-color: hsl(0, 0%, 50%);
  transition: all 300ms ease-in 200ms;
}

/*Information*/
.main-info {
  width: 60%;
  height: auto;
  display: block;
  justify-content: space-between;
}

.main-info:hover, .banner .image:hover {
  border: 4px hsl(0, 0%, 90%) solid;
  transition: all 200ms ease-in 200ms;
}

.main-text, .main-info .image img {
  width: 100%;
  height: auto;
  line-height: 1.2;
}

.main-info .info-image, .main-info video {
  width: 100%;
  overflow: hidden;
}

.main-info .main-text h1,
.main-info .main-text p {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.4;
  font-weight: bold;
}

.main-info .main-text h1 {
  color: hsl(0, 0%, 30%);
  padding: 2rem 0 1.5rem 0;
  font-size: 2rem;
}

.main-info .main-text p, .info-teaser p, .teaser-text p {
  color: hsl(0, 0%, 25%);
  font-size: 1rem;
}

.more-info {
  width: 40%;
  height: auto;
  padding-left: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.info {
  display: inline-flex;
  height: auto;
  padding:
}

.info-image {
  width: 35%;
}
.info-image img {
  width: 100%;
}

.info-text, .info-title, .info-teaser {
  width: 100%;
  padding: 1.5rem 1.5rem;
}

.info-text {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.info:hover, .teaser:hover {
  border-bottom: 4px hsl(0, 0%, 90%) solid;
  border-right: 4px hsl(0, 0%, 90%) solid;
  transition: 100ms step-start 200ms;
}

.info-title {
  border-bottom: 2px hsl(0, 360%, 25%) solid;
}

.info-title h2, .teaser-title h2 {
  color: hsl(0, 0%, 40%);
  font-size: 1.5rem;
  line-height: 0.75;
}

/*Learn Teaser*/

.learn-title {
  width: 100%;
}

.learn-title h1 {
  line-height: 1.4;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  padding: 2rem 0 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.learn {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 4.5rem 2rem 4.5rem;
}

.teaser {
  bottom: 0px;
  box-sizing: border-box;
  float: left;
  left: 0px;
  line-height: 1.3;
  position: relative;
  top: 0px;
  width: 304.484px;
  background: rgb(255, 255, 255);
  padding-left: 1.5 rem;
  margin: 0px 0px 1rem 1.5rem;
}

.teaser-image img {
  height: auto;
  width: 100%;
}

.teaser-textbox {
  padding: 1rem 0 1.5rem 1rem;
}

.teaser-subtitle {
  text-transform: capitalize;
  color: hsl(0.6, 10%, 50%);
  font-size: 1rem;
  line-height: 0.75;
  padding: 1.5rem 0 1rem 0;
}

.video-section {
  width: 40%;
  height: auto;
  padding-left: 1.5rem;
  display: flex;
  flex-flow: column;
}

/*Footer*/
footer {
  padding: 1rem 1.5rem 3rem 1.5rem;
  border-top: 1px hsl(0.6, 10%, 50%) solid;
  display: flex;
  justify-content: space-between;
}
